*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}
h1{
    color:rgb(236, 59, 115);
    margin: 10px
}
nav{
    width: 90%;
    background-color: rgb(241, 225, 225);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .7rem;
}
nav ul a{
    text-decoration: none;
    color:rgb(185, 55, 96);
    padding: 0.7rem;   
}
nav ul a:hover{
    background-color: rgb(254, 118, 197);
    color:rgb(248, 243, 246);
    border-radius: 20px;
    
}

/* Estilo de footer*----------*/
h4{
    color:rgb(236, 59, 115);
    margin: 10px
}
nav2{
    width: 90%;
    background-color: rgb(241, 225, 225);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}
nav2 ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .7rem;
}
nav2 ul a{
    text-decoration: none;
    color:rgb(185, 55, 96);
    padding: 0.7rem;   
}
nav2 ul a:hover{
    background-color: rgb(254, 118, 197);
    color:rgb(248, 243, 246);
    border-radius: 20px;
    
}

html {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  footer {
  
  
  }
  /* Estilo de footer*----------*/
.foto{
    margin-left: 80px;
    margin-top: 3rem;
    
}
.texto{
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
    background-color: rgb(237, 126, 145);
    color: rgb(196, 24, 104);
    width: 300px;
    margin-left: 3rem;
    margin-top: 3rem;
   padding: 1.5rem 1.5rem;
    
}
  main {
    width: 350px;
   
    
  }

main {
    display: flex;
    justify-content:left;
}
/* Estilo temporadas-------------*/
.temporadas{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 126, 145);
    color: rgb(196, 24, 104);
}

.playlist{
    color: rgb(196, 24, 104);
}
   
.Galeria{
    display: flex;
    justify-content:left;
}
.Galeria{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: rgb(237, 126, 145);
    color: rgb(196, 24, 104);
}  


/*iframe{
    width: 500px;
    height: 500px;
}*/

.formularioMio{
    width: 400px;
    background-color: rgb(249, 159, 174);
    padding: 20px;
    margin: 100px;
   
    border: solid 1px;  
}

.container {
    display: flex;
  
  }
  
  .container img {
    margin-right: 100px; /* Espacio entre la imagen y el texto */
  }

  .paginalugares{
    width: 500px;
    height: 500px;

  }
  .paginavestuariomarcas{
    width: 500px;
    height: 500px;
  }
  

@media screen and (max-width:420px){
    .contenedor{
        grid-template-columns:1fr;
        grid-template-rows: repeat (4, auto);
        grid-template-areas: 
         "header"
         "main"
         "aside"
         "footer";
    }
    .header{
        flex-direction: column;
        padding:10px;
        justify-content: space-between;
        align-items: center;
    }
    .header img{
        width: 60px;
        border-radius: 20%;
        margin-bottom: 10px;
    }
    
   /*barra de navegacion*/

    nav{
        width: 90%;
        background-color: rgb(241, 225, 225);
        margin: 1rem;
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: .5rem;
        width: 100%;
        flex-direction: column;
    }
    nav ul a{
        text-decoration: none;
        color:rgb(185, 55, 96);
        padding: 0.7rem;   
    }
    nav ul a:hover{
        background-color: rgb(254, 118, 197);
        color:rgb(248, 243, 246);
        border-radius: 20px;
        
    }


    /*barra de navegacion*/






    .main .texto{
        padding: 1rem;
        flex-direction: column;
    }

    .foto{
        display: flex;
        margin-left: 80px;
        margin-top: 8rem;
        justify-content: flex-end;
        
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      
      .container img {
        width: 28rem;
        margin-left: 5rem;
        margin-bottom: 10rem;
        margin-top: 10px; /* Espacio entre el texto y la imagen */
      }


      /*temporadas responsive*/
      .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 15rem;
      }
      
     /* .temporadas {
        width: 10rem;
        margin-left: 10rem;
        margin-bottom: 10rem;
        margin-top: 10px; /* Espacio entre el texto y la imagen */
     /* }*/

     footer {
       
        
      
      }



      .Galeria{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
    .Galeria{
        font-family:  Arial, Helvetica, sans-serif;
        background-color: rgb(237, 126, 145);
        color: rgb(196, 24, 104);
        
    } 

    .Galeria{
        width: 320px;
    }

    .paginalugares{
        width: 200px;
        height: 200px;
        display: flex;
        

       
    
      }
      .paginavestuariomarcas{
        width: 200px;
        height: 200px;
        display: flex;
   
      }

      .inspopaginas{
      
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .playlistfotoyreproductor{
        display: flex;
        flex-direction: column;
        align-items: center

      }

      .fotoplaylist{
        width: 500px;
        
      }
      .reproductor{
        width: 500px;
      }

      .formularioMio{
        width: 300px;
     
        padding: 20px;
        margin: 60px;
        border: solid 1px;  
      }

}


