* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink; }

h1 {
  color: #ec3b73;
  margin: 10px; }

nav {
  width: 90%;
  background-color: #f1e1e1;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end; }
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .7rem; }
    nav ul a {
      text-decoration: none;
      color: #b93760;
      padding: 0.7rem; }
      nav ul a:hover {
        background-color: #fe76c5;
        color: #f8f3f6;
        border-radius: 20px; }

h4 {
  color: #ec3b73;
  margin: 10px; }

nav2 {
  width: 90%;
  background-color: #f1e1e1;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end; }
  nav2 ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .7rem; }
    nav2 ul a {
      text-decoration: none;
      color: #b93760;
      padding: 0.7rem; }
      nav2 ul a:hover {
        background-color: #fe76c5;
        color: #f8f3f6;
        border-radius: 20px; }

section
.texto {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100%;
  background-color: #f1e1e1;
  color: #c41868;
  width: 400px;
  margin-left: 3rem;
  margin-top: 3rem; }

.foto {
  margin-left: 80px;
  margin-top: 3rem; }

.temporadas {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ed7e91;
  color: #c41868; }

.playlist {
  color: #c41868; }

.containerg {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #c41868; }

#galeria .co-lg-4 {
  margin: 0;
  padding: 25px; }

#galeria img {
  width: 100%;
  height: 250px; }
  #galeria img :hover {
    border: 5px solid #ee1187; }

.formularioMio {
  width: 400px;
  background-color: #f99fae;
  padding: 20px;
  margin: 100px;
  border: solid 1px; }

.container {
  display: flex; }

.container img {
  margin-right: 100px;
  /* Espacio entre la imagen y el texto */ }

.inspopaginas {
  color: #c41868;
  display: flex; }
  .inspopaginas .paginalugares {
    width: 400px;
    height: 400px; }
  .inspopaginas .paginavestuariomarcas {
    width: 400px;
    height: 400px; }

@media screen and (max-width: 420px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 4, auto;
    grid-template-areas: "header" "main" "aside" "footer"; }
  .header {
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    align-items: center; }
  .header img {
    width: 60px;
    border-radius: 20%;
    margin-bottom: 10px; }
  /*barra de navegacion*/
  nav {
    width: 90%;
    background-color: #f1e1e1;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end; }
  nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    width: 100%;
    flex-direction: column; }
  nav ul a {
    text-decoration: none;
    color: #b93760;
    padding: 0.7rem; }
  nav ul a:hover {
    background-color: #fe76c5;
    color: #f8f3f6;
    border-radius: 20px; }
  /*barra de navegacion*/
  .main .texto {
    padding: 1rem;
    flex-direction: column; }
  .foto {
    display: flex;
    margin-left: 80px;
    margin-top: 8rem;
    justify-content: flex-end; }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .container img {
    width: 28rem;
    margin-left: 5rem;
    margin-bottom: 10rem;
    margin-top: 10px;
    /* Espacio entre el texto y la imagen */ }
  /*temporadas responsive*/
  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15rem; }
  /* .temporadas {
        width: 10rem;
        margin-left: 10rem;
        margin-bottom: 10rem;
        margin-top: 10px; /* Espacio entre el texto y la imagen */
  /* }*/
  .Galeria {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .Galeria {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ed7e91;
    color: #c41868; }
  .Galeria {
    width: 320px; }
  .paginalugares {
    width: 200px;
    height: 200px;
    display: flex; }
  .paginavestuariomarcas {
    width: 200px;
    height: 200px;
    display: flex; }
  .inspopaginas {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .playlistfotoyreproductor {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .fotoplaylist {
    width: 500px; }
  .reproductor {
    width: 500px; }
  .formularioMio {
    width: 300px;
    padding: 20px;
    margin: 60px;
    border: solid 1px; } }
