.formularioMio{
    width: 400px;
    background-color: rgb(249, 159, 174);
    padding: 20px;
    margin: 100px;
   
    border: solid 1px;  
}

.container {
    display: flex;
  
  }
  
  .container img {
    margin-right: 100px; /* Espacio entre la imagen y el texto */
  }