
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}

h1 {
  color: rgb(236, 59, 115);
  margin: 10px;
}

nav {
  width: 90%;
  background-color: rgb(241, 225, 225);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .7rem;

    a {
      text-decoration: none;
      color: rgb(185, 55, 96);
      padding: 0.7rem;

      &:hover {
        background-color: rgb(254, 118, 197);
        color: rgb(248, 243, 246);
        border-radius: 20px;
      }
    }
  }
}