.seccion-bienvenida{
    .texto{
        
        /*font-size: 100%; */
        background-color: rgb(237, 126, 145); /*; rgb(226, 125, 157)*/
        color: rgb(211, 51, 126);
       /* width: 400px;
        margin-left: 3rem;*/
        margin-top: 3rem;
        
    }
    .texto-index{
        font-family: 'Amatic SC', cursive;
        font-size: 22px;
        line-height: 1.4;
    }

}
   
