section
    .texto{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100%;
        background-color: rgb(241, 225, 225);
        color: rgb(196, 24, 104);
        width: 400px;
        margin-left: 3rem;
        margin-top: 3rem;
     
        
    }

    
        
    
    
    .foto{
        margin-left: 80px;
        margin-top: 3rem;
    
  
        
    }