
/* MEDIA QUERY PARA CELULARES */
@media screen and (max-width:767px) {
  header {
    .nav-link{
      &:hover {
      background-color: transparent;
      color:  #b93760 !important;;
      
      }
    }
  }
  .seccion-bienvenida{
      .img-bienvenida{
          margin-top: 1rem;
      }
  }

}

/* MEDIA QUERY PARA TABLETS */
@media screen and (min-width:768px) and (max-width:1023px) {
  header {
    .nav-link{
      &:hover {
      background-color: transparent;
      color:  #b93760 !important;;
      
      }
    }
  }
  .seccion-bienvenida{
      .img-bienvenida{
          margin-top: 1rem;
      }
  }
}